@import 'vars'
@import 'fonts'
@import 'reset'
@import 'mixins'

// Common
html,
body
  scroll-behavior: smooth
  font-family: 'Poppins', sans-serif
  font-weight: 300
  font-size: 10px
  line-height: 2
body
  height: 100vh
  font-size: 1.4rem
  color: $main-dark
  overflow-x: hidden
a
  color: inherit
  transition: .4s opacity
  -webkit-transition: .4s opacity
  &:hover
    opacity: .6
h1,
h2,
h3,
h4
  font-weight: 600
  line-height: 1.5
h1
  font-size: 4.4rem
h2
  font-size: 3.4rem
h3
  font-size: 2.4rem
h4
  font-size: 1.8rem
  font-weight: 300
.container
  max-width: calc(117rem + 3rem * 2)
  margin: 0 auto
  padding: 0 3rem

// Header
.header
  padding: 4.6rem 0 0
  background: $main-background
  position: relative
  &-wrap
    width: 100%
    position: absolute
    top: 0
    left: 0
  &-nav
    width: 100%
    position: sticky
    margin-top: 2rem
    padding: 2rem 6rem
    top: 0
    left: 0
    display: flex
    justify-content: space-between
    align-items: flex-end
    transition: .4s background
    -webkit-transition: .4s background
    &_scrolled
      width: 100%
      margin-top: 0
      position: fixed
      background: rgba(0, 0, 0, 0.2)
    &__logo
      padding: 0 1.2rem 0.4rem
      position: relative
      font-size: 3.2rem
      font-weight: 700
      line-height: 1
      &::after
        content: ''
        display: inline-block
        width: 0.8rem
        height: 0.8rem
        border-radius: 50%
        background: #FDA300
        position: absolute
        bottom: 0
        right: 0.1rem
    &__list
      display: flex
      justify-content: space-between
      align-items: center
      column-gap: 5rem
    &__link
      font-size: 1.4rem
      font-weight: 500
      line-height: 1.6
      &_active
        opacity: .6
  &-content
    padding-top: 11rem
    display: flex
    justify-content: space-between
    column-gap: 3rem
    &__text
      max-width: 50rem
      padding-top: calc(20rem - 7.6rem)
    &__title
      margin-bottom: 2rem

// Services
.services
  &-container
    display: flex
    justify-content: space-between
    column-gap: 3rem
    padding: 9rem 0
  &__item
    max-width: 37rem
  &__icon
    width: 6.8rem
    height: 6.8rem
    margin-bottom: 3rem
  &__title
    text-transform: uppercase
    margin-bottom: 1rem

// Portfolio
.portfolio
  background: $main-background
  &-container
    padding: 9rem 0
  &__title
    margin-bottom: 7rem
    text-align: center
  &__item
    display: flex
    flex-direction: column
    align-items: center
  &__item:not(:last-child)
    margin-bottom: 9rem
  &__image
    margin-bottom: 4rem
  &__link
    text-decoration: underline

// Contacts
.contacts
  &-container
    max-width: 34rem
    margin: 0 auto
    padding: 9rem 0
    text-align: center
  &__title
    margin-bottom: 4rem
  &__btn
    margin: 4rem 0 8rem
    padding: 1rem 2.5rem
    border-radius: 2.5rem
    font-famili: 'Poppins', sans-serif
    font-size: 1.8rem
    font-weight: 300
    color: $main-lite
    background: $main-dark
    transition: .4s opacity top
    -webkit-transition: .4s opacity top
    &:hover,
    &:focus
      opacity: .7
    &:active
      position: relative
      top: 1px
      opacity: 1
  &__socials
    height: 4rem
    display: flex
    justify-content: center
    align-items: center
    column-gap: 6rem
    margin-bottom: 4rem
  &__icon
    width: 4rem
    heght: 4rem
  &_footer
    line-height: 1.5
    text-align: center
    color: #828282

// Burger
+burger($main-dark, 3.3rem)
.burger-menu__control
  display: none
  top: 2rem
  transition: .4s all
  -webkit-transition: .4s all
  &:hover
    opacity: .6

@import 'media'