header.header
  .container.header-container
    .header-wrap
      .header-nav 
        a(href="#").header-nav__logo Victor
        nav.header-nav__nav
          ul.header-nav__list
            li.header-nav__item
              a(href="/").header-nav__link.header-nav__link_active Home
            li.header-nav__item
              a(href="#portfolio").header-nav__link Works
            li.header-nav__item
              a(href="#services").header-nav__link Services
            li.header-nav__item
              a(href="#!").header-nav__link About
            li.header-nav__item
              a(href="#contacts").header-nav__link Contacts
        button.burger-menu__control
          span.burger__item
          span.close__item
    .header-content
      .header-content__text
        h1.header-content__title Kelvin Kramer<br><span>Designer&nbsp;&amp; Developer</span>
        p.header-content__description
          | I’m a portrait, fashion and lifestyle photographer living In New York City. During my thirteen year tenure here.
      picture.header-content__image
        source(media="(max-width: 520px)" srcset="@img/hero-mobile.png")
        img(src="@img/hero.png", alt="hero")
