-
  var services = [
    {
      icon: 'design-icon',
      title: 'UI/UX Design',
      desc: 'Our design is translated into comprehensive digital environments built on latest development standards.',
    },
    {
      icon: 'dev-icon',
      title: 'Development',
      desc: 'Our design is translated into comprehensive digital environments built on latest development standards.',
    },
    {
      icon: 'test-icon',
      title: 'software testing',
      desc: 'Our design is translated into comprehensive digital environments built on latest development standards.',
    },
  ]
  
-
  var portfolio = [
    {
      image: '@img/advice.jpg',
      title: 'Online fashion store - Homepage',
      link: '#!',
    },
    {
      image: '@img/reebok_web.jpg',
      title: 'Reebok Store - Concept',
      link: '#!',
    },
    {
      image: '@img/braun_web.jpg',
      title: 'Braun Landing Page - Concept',
      link: '#!',
    },
  ]
